.first{
background-color: rgba(100, 200, 50, 0.4)
}
.second{
background-color: royalblue;
opacity: 0.4;
}
.gradient{
    background: rgba(243,226,199,1);
    width: 100%;
    height: 200px;
    background-position: center;
    vertical-align: inherit;
    
}
.image{
    background-image: url("../images/foodiesfeed.com_coffee-beans-close-up.jpg");
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
    
}